* {
  margin: 0;
  padding: 0;
  font-family: 'Inria Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/library-photo3.png");
}

form {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(5px);
  animation: fadeIn 1s;
}

fieldset {
  background-color: lightgrey;
  position: absolute;
  top: 25%;
  left: 32.5%;
  height: 35%;
  width: 35%;
  border: 5px solid darkslategrey;
}

.question > span {
  font-size: 8pt;
  font-weight: 400;
}

input:focus:invalid {
  border: 2px dashed red;
  outline: transparent;
}

.star__rating:not(old){
  display        : inline-block;
  /* overflow       : auto; */
  vertical-align : bottom;
  width          : 7.5em;
  height         : 1.5em;
}

.star__rating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.star__rating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../images/star-off.svg');
  background-size : contain;
}

.star__rating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.star__rating:not(old) > label:hover:before,
.star__rating:not(old) > label:hover ~ label:before,
.star__rating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.form__title {
  padding: 20px;
}

.submit--buttons {
  padding: 15px;
  display: block;
}

.svg-button {
  pointer-events: none;
}

.page__title {
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
}

.form__question {
  text-align: center;
  padding: 0.5vw 0 0;
  margin: 0 1vw;
}

.new__Book {
  margin-bottom: 10px;
  background: url(../images/new_book.svg);
  background-size: contain;
}

.question {
  float: left;
}

.rating-question {
  display: none;
}

.settings {
  display: flex;
  justify-content: center;
  color: white;
}

.settings__choice {
  display: flex;
  margin: 0 1vw;
}

.library-table__container {
  display: table;
  text-align: center;
  width: 80vw;
  height: 100%;
  margin: 50px auto;
}

.library__header {
  display: table-header-group;
  background-color: lightgray;
}

.library__header-cell { 
  display: table-cell;
  border-bottom: 1px solid grey;
}

.library-table {
  display: table-row-group;
}

.library-table__row {
  display: table-row;
  height: 100%;
}

.library-table__row--cell {
  display: table-cell;
  vertical-align: middle;
  background-color: lightgray;
  height: 100%;
}

.title > img {
  height: 100px;
  margin: 5px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.remove__button {
  background: url(../images/cancel.svg);
  background-size: contain;
  height: 20px;
  width: 20px;
  border: 0;
}

.read__button {
  width: 100%;
  font-size: 12pt;
  border: 0;
}

.read__button:focus {
  outline: 0;
}

.library__title-cell {
  width: 45%;
}

.library__author-cell {
  width: 25%;
}

.library__page-count-cell {
  width: 10%;
}

.library__read-cell {
  width: 10%;
}

.library__rating-cell {
  width: 10%;
}

.library-grid {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-row-gap: 50px;
  justify-items: center;
  align-items: flex-end;
  padding: 7.5%;
}

.library-local-perspective {
  perspective: 40rem;
}

.library-grid__row:hover .library-grid__row--info-box  {
  display: flex;
  background-color: rgba(160, 160, 160, 0.5)
}

.library-grid__row {
  height: 250px;
  width: 175px;
  position: relative;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.library-grid__row:hover {
  transform: rotateY(-180deg);
}

.library-grid__row--front {
  max-width: 250px;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}

.library-grid__row--back {
  position: absolute;
  display: grid;
  grid-template:
      [title-start] "title title" 3fr [title-end]
      [authors-start] "authors authors" 40px[authors-end]
      [pageCount-start] "pageCount read" 55px[pageCount-end]
      [avRating-start] "avRating avRating" 1.5fr [avRating-end]/1fr 1fr;
  transform: rotateY(-180deg);
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
}

.library-grid__row--front, .library-grid__row--back {
  backface-visibility: hidden;
}

.library-grid__row--back--title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  align-self: end;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  grid-area: title;
  padding-bottom: 3px;
}

.library-grid__row--back--authors {
  font-size: 14px;
  line-height: 17px;
  grid-area: authors;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.library-grid__row--back--page-count {
  font-size: 14px;
  line-height: 15px;
  grid-area: pageCount;
  align-self: center;
}

.library-grid__row--back--read-button {
  grid-area: read;
}

.read-button {
  box-shadow: 0 0 2px 0 rgb(230, 230, 230);
  background: linear-gradient(0deg, #e2e2e2, #f1f1f1);
  font-size: 14px;
  font-weight: 500;
  width: 60%;
  height: 70%;
  border-radius: 4px;
  border: none;
  padding: 0;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  outline: transparent;
}

.library-grid__row--back--read-button-label:hover {
  box-shadow: 0 0 2px 0 rgb(210, 210, 210);
  background: linear-gradient(0deg, #cfcfcf, #e1e1e1);
}

.library-grid__row--back--read-button-label:active {
  box-shadow: 0 0 2px 0 rgb(137, 154, 126);
  background: linear-gradient(0deg, #919a88, #bccaae);
}

.hidden-checkbox:checked + .library-grid__row--back--read-button-label {
  box-shadow: 0 0 2px 0 rgb(69, 165, 7);
  background: linear-gradient(0deg, #54a900, #65ca00);
  color: white;
}

.hidden-checkbox:checked + .library-grid__row--back--read-button-label:hover {
  box-shadow: 0 0 2px 0 rgb(69, 165, 7);
  background: linear-gradient(0deg, #54a900, #65ca00);
  color: white;
}

.hidden-checkbox:checked + .library-grid__row--back--read-button-label:active  {
  box-shadow: 0 0 2px 0 rgb(69, 165, 7);
  background: linear-gradient(0deg, #54a900, #65ca00);
  color: white;
}

.library-grid__row--back--rating {
  grid-area: myRating;
}

.library-grid__row--back--average-rating {
  grid-area: avRating;
  padding-bottom: 10px;
}

.library-grid__row--back--remove-button {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 16px;
  width: 16px;
  padding: 3px;
  margin: 0;
  background-color: rgb(160, 160, 160);
  border: none;
  border-radius: 8px;
  outline: transparent;
  box-shadow: 0 0 2px #bbbbbb;
  cursor: pointer;
  opacity: 0.2;
}

.library-book__back--remove-button > * {
  pointer-events: none;
}

.library-book__back--remove-button:hover {
  opacity: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  width: 60vw;
  height: 40px;
  background-color: white;
  border-radius: 6px;
  animation-name: fade-in;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  padding: 6px 10px;
  transition: top .25s cubic-bezier(0.2, 0.5, 0.4, 1);
}

.modal:focus-within {
  box-shadow: 0 0 6px 2px rgba(160, 160, 160, 0.5);
}

.search-mode {
  top: 10%;
  border-radius: 6px 6px 0 0;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.modal.closed {
  display: none;
}

.modal-overlay {
  display: block;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: blur;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes blur {
  0% {background-color: transparent; backdrop-filter: none;}
  100% {background-color: rgba(160, 160, 160, 0.5); backdrop-filter: blur(10px);}
}

.modal-overlay.closed {
  display: none;
  animation-name: blur-reset;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.modal__search {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__search-input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: transparent;
  font-size: 18px;
  letter-spacing: 1px;
  padding-left: 11px;
  color: rgb(40, 40, 40);
}

.modal__search-input::placeholder {
color: rgb(200, 200, 200);
}

.modal__search-input:focus::placeholder {
color: transparent;
}

.modal__search-button {
  width: 40px;
  height: 40px;
  border: none;
  outline: transparent;
  background-image: url(../images/search-icon.svg);
  cursor: pointer;
}

.modal__close-button {
  height: 22px;
  width: 22px;
  padding: 5px;
  margin: 0;
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 11px;
  outline: transparent;
  position: absolute;
  top: -9px;
  right: -9px;
  box-shadow: 0 0 3px 1px lightgrey;
  cursor: pointer;
}

.modal__close-button > * {
  pointer-events: none;
}

.modal__search-results {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: auto;
  max-height: 80vh;
  overflow: scroll;
}

.search-results {
  padding: 0;
}

.search-item {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  background-color: white;
  padding: 10px 15px;
}

.search-item:nth-child(odd) { background: rgb(250, 250, 250); }

.search-item > * {
  pointer-events: none;
}

.search-item__image {
  object-fit: contain;
  width: 50px;
  margin-right: 15px;
}

.search-item__text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-item__info--title {
  font-size: 24px;
  font-weight: 500;
}

.search-item__info--authors {
  font-size: 18px;
  font-weight: 300;
}

.hidden-volume-id {
  display: none
} 