* {
  margin: 0;
  font-family: 'Inria Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/library-photo3.png");
}

.form__modal {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(5px);
  animation: fadeIn 1s;
}

.form {
  background-color: lightgrey;
  position: absolute;
  top: 25%;
  left: 32.5%;
  height: 35%;
  width: 35%;
  border: 5px solid darkslategrey;
}

.star__rating:not(old){
  display        : inline-block;
  /* overflow       : auto; */
  vertical-align : bottom;
}

.star__rating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.star__rating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../images/star-off.svg');
  background-size : contain;
}

.star__rating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.star__rating:not(old) > label:hover:before,
.star__rating:not(old) > label:hover ~ label:before,
.star__rating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.star__rated {
  height: 1.2em;
  width: 1.2em;
}

.form__title {
  padding: 20px;
}

.submit--buttons {
  padding: 15px;
  display: block;
}

.page__title {
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
}

.form__question {
  text-align: center;
  padding: 0.5vw 0 0;
  margin: 0 1vw;
}

#newBook {
  margin-bottom: 10px;
}

.question {
  float: left;
}

.rating-question {
  display: none;
}

.settings {
  display: flex;
  justify-content: center;
  color: white;
}

.settings__choice {
  display: flex;
  margin: 0 1vw;
}

.library-table {
  display: table;
  text-align: center;
  width: 80vw;
  margin: 50px auto;
}

.library__header {
  display: table-header-group;
  background-color: lightgray;
}

.library__header-cell {
  display: table-cell;
  border-bottom: 1px solid grey;
}

.library__body {
  display: table-row-group;
}

.library__body--row {
  display: table-row;
  background-color: lightgray;
}

.library__body--row-cell {
  display: table-cell;
  vertical-align: middle;
}

.library__title-cell {
  width: 45%;
}

.library__author-cell {
  width: 25%;
}

.library__page-count-cell {
  width: 10%;
}

.library__read-cell {
  width: 10%;
}

.library__rating-cell {
  width: 10%;
}

.library-grid {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 300px);
  grid-row-gap: 50px;
}

.library__shelf-space {
  grid-column: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.library__cover {
  width: 70%;
  height: 225px;
  background-color: rgb(175, 0, 0);
}